<script setup lang="ts">
import fancyButton from "@/components/fancyButton.vue";
import { mdiCardsHeart } from "@mdi/js";
import { mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><fancyButton
          ><v-icon :icon="mdiCardsHeart" />Love Me
          <template v-slot:tail>Pls</template>
        </fancyButton>
      </v-col>
      <v-col
        ><fancyButton
          ><v-icon :icon="mdiCursorDefaultClickOutline" />Click Me
          <template #tail>Pls</template></fancyButton
        >
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
