<script setup lang="ts">
import { mdiPlayCircleOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col class="justify center" cols="6">
        <v-card class="mx-auto justify-center" max-width="500" justify="center">
          <v-img
            src="https://cdn.pixabay.com/photo/2017/11/13/07/14/cats-eyes-2944820_960_720.jpg"
            cover
            height="240px"
            style="margin-bottom: 10px"
          >
            <v-avatar color="grey" size="150" style="margin: 10px">
              <v-img
                cover
                src="https://cdn.discordapp.com/attachments/1053909534638358580/1053910126689525820/f.jpg"
              ></v-img>
            </v-avatar>
            <v-list-item
              style="padding-top: 5px; margin: 8px"
              class="text-white"
              title="นวพรรษ สีหาบุตร"
              subtitle="Nawapat Seehabut"
            ></v-list-item>
          </v-img>

          <h3 style="text-align: center">ประวัติการศึกษา</h3>

          <v-table>
            <thead>
              <tr>
                <th class="text-left">ระดับชั้น</th>
                <th class="text-left">สถานศึกษา</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ประถมศึกษาปีที่ 1-6</td>
                <td>โรงเรียนอนุบาลชุมชนบางบ่อ</td>
              </tr>
              <tr>
                <td>มัธยมศึกษาปีที่ 1-6</td>
                <td>โรงเรียนบางบ่อวิทยาคม</td>
              </tr>
              <tr>
                <td>กำลังศึกษา</td>
                <td>มหาวิทยาลัยบูรพา</td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
      <v-col>
        <br />
        <v-card max-width="400" class="mx-auto">
          <v-container>
            <v-row dense>
              <v-col cols="12">
                <h3 style="text-align: center">งานอดิเรก</h3>
                <v-card color="#6699CC" theme="dark">
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <v-card-title class="text-h5">
                        เล่นแบดมินตัน
                      </v-card-title>

                      <v-card-actions>
                        <v-btn
                          class="ml-2"
                          icon="mdi-play"
                          variant="text"
                        ></v-btn>
                      </v-card-actions>
                    </div>

                    <v-avatar class="ma-3" size="125" rounded="0">
                      <v-img
                        src="https://theviewpoints.co/wp-content/uploads/2017/07/SportsArtboard-5-1.jpg"
                      ></v-img>
                    </v-avatar>
                  </div>
                </v-card>
              </v-col>

              <v-col cols="12">
                <v-card color="#778899" theme="dark">
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <v-card-title class="text-h5"> ระบายสี </v-card-title>

                      <v-card-actions>
                        <v-btn
                          class="ml-2"
                          icon="mdi-play"
                          variant="text"
                        ></v-btn>
                      </v-card-actions>
                    </div>

                    <v-avatar class="ma-3" size="125" rounded="0">
                      <v-img
                        src="https://pbs.twimg.com/media/EV5JDTKU8AElGIS?format=jpg&name=large"
                      ></v-img>
                    </v-avatar>
                  </div>
                </v-card>
              </v-col>

              <v-col cols="12">
                <v-card color="#6699CC" theme="dark">
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <v-card-title class="text-h5"> ฟังเพลง </v-card-title>

                      <v-card-subtitle>Ellie Goulding</v-card-subtitle>

                      <v-card-actions>
                        <v-btn
                          class="ml-2"
                          icon="mdi-play"
                          variant="text"
                          href="https://youtu.be/HIKX2xkXMdg"
                          target="_blank"
                        >
                          <v-icon :icon="mdiPlayCircleOutline" />
                        </v-btn>
                      </v-card-actions>
                    </div>

                    <v-avatar class="ma-3" size="125" rounded="0">
                      <v-img
                        src="https://m.media-amazon.com/images/I/51wYBZYmsOL._UX250_FMwebp_QL85_.jpg"
                      ></v-img>
                    </v-avatar>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
